<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4 ">
      <h1>
        <strong>{{ user.knownAs }}'s Profile </strong>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-3">
      <div class="card">
        <img
          [src]="user.photoUrl || defaultPhoto"
          class="card-img thumbnail-img"
          [alt]="user.knownAs"
        />
        <div class="card-body">
          <strong>Country:</strong>
          <div>
            <span class="flag flag-{{ user.alpha2Code.toLowerCase() }}"></span>
            {{ user.country }}
          </div>
          <div>
            <strong>Age:</strong>
            <div>{{ user.age }}</div>
          </div>
          <div>
            <strong>Last Active:</strong>
            <div>{{ user.lastActive | date: "short" | timeAgo }}</div>
          </div>
          <div>
            <strong>Member Since:</strong>
            <div>{{ user.created | date: "short" }}</div>
          </div>
          <div>
            <div class="card-footer">
              <div class="btn-group d-flex ">
                <button class="btn btn-success w-100" (click)="likeUser()">
                  Like
                </button>
                <button class="btn btn-secondary w-100" (click)="selectTab(3)">
                  Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 mt-3">
      <div class="tab-panel">
        <tabset class="member-tabset" #staticTabs>
          <tab [heading]="tabHeader">
            <h4>Introduction:</h4>
            <p>{{ user.introduction }}</p>
            <h6 *ngIf="!user.introduction" class="italic">
              User has not set their introduction yet.
            </h6>
            <h4>Lookin For:</h4>
            <p>{{ user.lookingFor }}</p>
            <h6 *ngIf="!user.lookingFor" class="italic">
              User has not set what they are looking for yet.
            </h6>
          </tab>
          <tab heading="Interests">
            <h4>Interests:</h4>
            <p>{{ user.interests }}</p>
            <h6 *ngIf="!user.interests" class="italic">
              User has not set their interests yet.
            </h6>
          </tab>
          <tab heading="Photos">
            <h4>Photos:</h4>
            <h6 *ngIf="galleryImages.length === 0" class="italic">
              User has not uploaded any pictures yet.
            </h6>
            <ngx-gallery
              *ngIf="galleryImages.length !== 0"
              [options]="galleryOptions"
              [images]="galleryImages"
            ></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <h4>Messages:</h4>
            <app-message-thread [recipientId]="user.id"></app-message-thread>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
